.training-detail {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    height: 650px;
    width: 50%;
    margin: 1px;
    overflow-y: scroll;
}

.training-detail-title {
    text-align: center;
    font-size: 42px;
}

.training-detail-exercise-list-item {
    flex: 1;
    display: flex;
    flex-direction: row;  
}

.training-detail-exercise-list-item-order {
    width: 50px;
    font-size: 32px;
}

.training-detail-exercise-list-item-name {
    width: 700px;
    font-size: 32px;
}

.training-detail-exercise-list-item-count-iterations {
    width: 70px;
    font-size: 32px;
}

.training-detail-exercise-list-item-minutes {
    width: 70px;
    font-size: 32px;
}

.training-detail-exercise-list-item-weight {
    width: 100px;
    font-size: 32px;
}

.training-detail-exercise-list-item-button {
    width: 20px;
}

.training-detail-cycles {
    flex: 1;
    display: flex;
    flex-direction: row; 
}

.training-detail-cycles-value {
    text-align: center;
    font-size: 36px;
}

.training-detail-cycles-button {
    width: 20px;
}