.exercise-template-list {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    height: 750px;
    width: 25%;
    margin: 1px;
    overflow-y: scroll;
}

.exercise-template-list-item {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.exercise-template-list-item-name {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    text-align: left;    
    height: 30px;
    width: 420px;
    font-size: 16px;
    margin: 1px;
    padding: 1px;
}

.exercise-template-list-item-button {
    width: 30px;
    height: 30px;
    margin: 1px;
    font-size: 6px;
}

/*Create modal*/
.create-exercise-template-list-item-button {
    height: 50px;
    width: 420px;
    margin: 1px;
    font-size: 10px;
}

.create-exercise-template-modal-save-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.create-exercise-template-modal-add-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.create-exercise-template-modal-cancel-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.create-exercise-template-modal-input {
    margin: 5px;
    font-size: 10px;
}

/*Edit modal*/
.edit-exercise-template-modal-save-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-exercise-template-modal-delete-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-exercise-template-modal-cancel-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-exercise-template-modal-input {
    margin: 5px;
    font-size: 10px;
}
