.exercise-template-list {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    height: 650px;
    width: 25%;
    margin: 1px;
    overflow-y: scroll;
}

.training {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    height: 650px;
    width: 50%;
    margin: 1px;
    overflow-y: scroll;
}

.training-list {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    height: 650px;
    width: 25%;
    margin: 1px;
    overflow-y: scroll;
}

.plan {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    height: 210px;
    width: 100%;
    overflow-y: scroll;
}