.plan-list {
    flex: 1;
    display: flex;
    flex-direction: row;     
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    height: 100px;
    width: 100%;
    overflow-y: scroll;    
}

.plan-list-item { 
    flex: 1;
    display: flex;
    flex-direction: row;   
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    height: 95px;
    width: 270px;
    margin: 1px;  
}

.plan-list-item-today { 
    background-color: lightgrey;
}

.plan-list-item-calendar { 
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    height: 91px;
    width: 40px;
    margin: 1px;  
}

.plan-list-item-calendar-today { 
    font-weight: bold;
}

.plan-list-item-training { 
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    font-size: 14px;
    height: 90px;
    width: 223px;
    margin: 1px;
    padding: 5px; 
}

.plan-list-item-training-lightgreen { 
    background-color: #90EE90; 
}

.plan-list-item-training-name { 
    height: 35px; 
}