.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;   
}

.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;   
}

.border-style {
    border: 1px solid #C0C0C0;
    border-radius: 5px; 
    margin: 1px; 
    padding: 1px;
}

.pressure-list { 
    height: 850px;
    width: 1900px;            
    overflow-y: scroll;    
}

.pressure-calendar { 
    height: 100px;
    width: 50px;    
}

.pressure-empty-cell { 
    width: 50px;    
}

.time-cell { 
    width: 113px;    
}

.pressure-value-cell { 
    font-size: 20px;
}

.pulse-value-cell { 
    font-size: 12px;
}

/*Create modal*/
.create-pressure-button {
    height: 50px;
    width: 164px;
    margin: 1px;
    font-size: 10px;
}

.create-pressure-modal-save-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.create-pressure-modal-cancel-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.create-pressure-modal-input {
    margin: 5px;
    font-size: 10px;
}