.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;   
}

.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;   
}

.border-style {
    border: 1px solid #C0C0C0;
    border-radius: 5px; 
    margin: 1px; 
    padding: 1px;
}

.pressure-list { 
    height: 850px;
    width: 1900px;            
    overflow-y: scroll;    
}

.pressure-calendar { 
    height: 95px;
    width: 50px;    
}

.pressure-empty-cell { 
    width: 50px;    
}

.time-cell { 
    width: 113px;    
}