.training-list {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    height: 750px;
    width: 25%;
    margin: 1px;
    overflow-y: scroll;
}

.training-list-item-container {
    flex: 1;
    display: flex;
    flex-direction: row;      
}

.training-list-item {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    text-align: left;    
    height: 50px;
    width: 420px;    
    margin: 1px;
    padding: 1px;
}

.training-list-item-name {
    height: 25px;
    font-size: 16px;
}

.training-list-item-description {
    height: 20px;
    font-size: 12px;
}

.training-list-item-button {
    width: 30px;
    height: 30px;
    margin: 1px;
    font-size: 6px;
}

/*Create modal*/
.create-training-list-item-button {
    height: 50px;
    width: 420px;
    margin: 1px;
    font-size: 10px;
}

.create-training-modal-save-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.create-training-modal-cancel-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.create-training-modal-input {
    margin: 5px;
    font-size: 10px;
}

/*Edit modal*/
.edit-training-modal-save-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-training-modal-delete-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-training-modal-cancel-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-training-modal-input {
    margin: 5px;
    font-size: 10px;
}
